// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-container-across {
  display: grid;
  grid-template-columns: 10fr 100px;
  grid-gap: 10px 10px;
}

#gridMargin {
  margin-bottom: 120px;
}

#btnShow {
  width: 100%;
  height: 100px;
  text-align: left;
  font-size: 20px;
}

#btnDestroy {
  font-size: 15px;
  margin-right: 50px;
}

#footer {
  position: fixed;
  bottom: 60px;
}
